body {
    background: black;
}

.smoke {
background: url(./img/smoke.png);
background-size: contain;
background-repeat: no-repeat;
height: 100px;
width: 100px;
animation: smoke 0.5s infinite linear;
}
.smoke2 {
    background: url(./img/smoke.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 100px;
    animation: smoke2 1s infinite linear;
    }

@keyframes smoke {
    0% {
      transform: translate(0);
     
    }
  
    50% {

    
    }
  
    100% {
      transform: translate(-40px, 2px);
      backgroud-color: rgba(255, 255, 255, 0);
      
     
    }
  
    
  }
  
  
@keyframes smoke2 {
    0% {
      transform: translate(0);
     
    }
  
    50% {

    
    }
  
    100% {
      transform: translate(-40px, 2px);
      backgroud-color: rgba(255, 255, 255, 0);
     
     
    }
  
    
  }
  
